server:
  port: 8888

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        - id: doctor-service
          uri: lb://DOCTOR-SERVICE
          predicates:
            - Path=/doctors/**
          filters:
            - name: AuthenticationFilter

        - id: patient-service
          uri: lb://PATIENT-SERVICE
          predicates:
            - Path=/api/appointments/**, /api/patients/**
          filters:
            - name: AuthenticationFilter


        - id: admin-service
          uri: lb://ADMIN-SERVICE
          predicates:
            - Path=/api/admin/**
          filters:
            - name: AuthenticationFilter

        - id: ai-service
          uri: lb://AI-SERVICE
          predicates:
            - Path=/api/ai/**
          filters:
            - name: AuthenticationFilter

jwt:
  secret: "mySecretKeyForMedicalSystem2026MustBeVeryLongAndSecure"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/